<div class="learn">
    <div><img src="images/Vectors-Wrapper_4.svg" loading="lazy" width="1380" height="970" alt="" class="side"></div>
    <div class="sidetab"><img src="images/Vectors-Wrappers.svg" loading="lazy" width="314" heigth="967" alt="" class="side"></div>
    <div>
        <div class="kaway-logo-2">
            <div class="kaway-logo-2 kaway-logo-2"><span class="kaway-logo-3">Kaway</span><span class="kaway-logo-4"></span>.</span></div>
        </div>
    </div><img src="images/Vectors-Wrapper_1.svg" loading="lazy" width="302" height="112" alt="" class="select-tab"><img src="images/Vectors-Wrapper_5.svg" loading="lazy" width="152" height="40" alt="" class="home"><img src="images/Vectors-Wrapper_6.svg" loading="lazy" width="167" height="40" alt="" class="profile"><img src="images/Vectors-Wrapper_7.svg" loading="lazy" width="195" height="40" alt="" class="settings"><img src="images/Vectors-Wrapper_13.svg" loading="lazy" width="194" height="54" alt="" class="lessons">
    <div class="subtopic">Subtopic 1: Common Greetings</div>
    <div class="module">Module 2</div><img src="images/Vectors-Wrapper_8.svg" loading="lazy" width="888.756" height="432.748" alt="" class="_3rdbox"><img src="images/Vectors-Wrapper_9.svg" loading="lazy" width="929.721" height="432.748" alt="" class="_2ndbox"><img src="images/Vectors-Wrapper_10.svg" loading="lazy" width="960" height="432.748" alt="" class="mainbox"><img src="images/Vectors-Wrapper_11.svg" loading="lazy" width="960" height="213" alt="" class="answerbox">
    <div class="feedback">Incorrect</div>
    <div class="click-here">Click here to learn again</div><img src="images/Vectors-Wrapper_2.svg" loading="lazy" width="90" height="90" alt="" class="notifcircle"><img src="images/Vectors-Wrapper_12.svg" loading="lazy" width="60" height="60" alt="" class="notiflogo"><img src="images/Vectors-Wrapper_3.svg" loading="lazy" width="56" height="56" alt="" class="notifnumbercircle">
    <div class="notifnumber">2</div>
    <div class="corect-answer">Hello</div><img src="images/Incorrect_Logo.svg" loading="lazy" width="196" height="168" alt="" class="incorrect-logo">
    <div class="answer-text">Hello</div>
</div>

